
    <nav
        class="nav">
        <a class="nav-link text-white" href="{{path("accueil")}}">Symfony</a>
        <a class="nav-link text-white" href="{{path("personnages")}}">Personnages</a>

    </nav>



